body {
	margin: 0 30px;
	font: 15px sans-serif;
	font-family: 'Arvo', serif;
	color: #774422;
}
.hours, .days {
	border-right:1px solid #ddddaa;
	text-align: center;
	box-sizing: border-box; 
	height: 500px;
	float: left;
}
#sunday {
	border-right: none;
}
.hours {
	text-align: left;
	width: 5.5%;
}
.days {
	width: 13.5%;
	box-sizing: border-box;
}
.time {
	position: absolute;
	width: 12.8%;
	overflow: hidden;
}
.hours .time {
	width: 5.1%;
	white-space: nowrap;
}
.am9 {
	top: 200px;
}
.am10 {
	top: 240px;
}
.am11 {
	top: 280px;
}
.halfPast11 {
	top: 300px;
}
.am12 {
	top: 320px;
}
.pm1 {
	top: 360px;
}
.pm2 {
	top: 400px;
}
.pm3 {
	top: 440px;
}
.pm4 {
	top: 480px;
}
.pm5 {
	top: 520px;
}
.pm6 {
	top: 560px;
}
.dayOfWeek {
	font-weight: bold;
	text-align: left;
	padding: 10px;
}
.date {
	font: 40px Arial bold sans-serif;
	text-align: center;
}
.eventOfDay {
	height: 30px;
	padding: 5px;
	color: #dd4400;
	border-top: 4px double #ddddaa;
}
.sport, .health, .work, .entertainment {
	border-radius: 7px;
	box-sizing: border-box;
	padding: 3px;
}
.sport {
	background-color: #ffdd11;
} 
.health {
	background-color: #ddddaa;
}
.work {
	background-color: #ccaa55;
}
.entertainment {
	background-color: #ccccbb;
}
.oneHourEvent {
	height: 40px;
}
.hourAndHalfEvent {
	height: calc(40px*1.5);
}
.twoHourEvent {
	height: calc(40px*2);
}