body {
	margin: 3px 10%;
	box-sizing: content-box;
}

.header {
	font-size: 40px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.bbc {
	color: white;
	background-color: black;
	margin: 3px;
	width: 46px;
	text-align: center;
	font-weight: bold;
}

#content {
	display: flex;
	flex-direction: column;
}

.news {
	margin: 10px 0;
	padding: 5px;
	box-sizing: border-box;
	border: 1px solid black;
	border-radius: 5px;
}

.title {
	font-size: 27px;
	font-weight: bold;
}

.url {
	margin-bottom: 10px;
}

.link {
	color: #33334d;
	font-style: italic;
}

.img {
	width: 100%;
	margin-bottom: 25px;
	text-align: center;
}

.footer {
	text-align: right;
	background-color: #b3b3cc;
	height: 30px;
	box-sizing: border-box;
	border-radius: 5px;
	line-height: 30px;
	padding-right: 10px;
}

.copyright {
	color: #47476b;
}


@media(max-width: 768px) {
	body {
		margin: 2%;
	}
	#content {
		width: 96%;
	}
}